
.button{
  .btn{
    background: url('../../assets/button.png') 100% no-repeat;
    background-size: 100% 100%;
    font-size: 20px;
    border: 0px;
    width: 200px;
    height: 62px;
    cursor: pointer;
    font-family: 'fredoka_oneregular';
    color:#523516;
  }
}